
     <header>
      <nav>
        <div class="logo">
            <div class="c">
                F
            </div>
            <div class="title">
                <h2>حمام الفضل</h2>
                        </div>
        </div>
        <p-tabMenu [model]="navitems" [activeItem]="navitems[2]"></p-tabMenu>
        <div class="acount">
            <div class="name-acount">
              {{admin}}
            </div>
            <div class="image112">
                <img src="/assets/othmane.jpg" alt="othmane">
            </div>
        </div>
    </nav>
    </header>
    <div class="title-page2">
      <h1>قائمة الطلبات</h1>
    </div>

    <div class="list-product">


        <div class="table">


        <div *ngIf="loader" class="loader large" style=" margin:auto;"></div>
        <div *ngIf="loader==false">
        <p-table [value]="resultOrders" sortMode="multiple">
          <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="Actions">إلغاء <p-sortIcon field="Actions"></p-sortIcon></th>
                <th pSortableColumn="statut">الحالة <p-sortIcon field="statut"></p-sortIcon></th>
                <th pSortableColumn="Actions">المستعمل <p-sortIcon field="Actions"></p-sortIcon></th>
                <th pSortableColumn="total">المجموع <p-sortIcon field="total"></p-sortIcon></th>
                <th pSortableColumn="id">الرقم <p-sortIcon field="id"></p-sortIcon></th>
            </tr>
        </ng-template>

          <ng-template pTemplate="body" let-row>
              <tr>




                  <td>
                    <button *ngIf="row.status == 'completed'"  (click)="updateOrder(row,'cancelled')"pButton type="button" label="" icon="pi pi-times" class="p-button-text" style="font-size: 2rem"></button>
                    <button *ngIf="row.status == 'cancelled'"  (click)="updateOrder(row,'completed')"pButton type="button" label="" icon="pi pi-undo" class="p-button-text" style="font-size: 2rem"></button>




                  </td>
                  <td>
                    <div style="color: green;" *ngIf="row.status == 'completed'">
                      منجزة
                    </div>
                    <div style="color: red;" *ngIf="row.status == 'cancelled'">
                      ملغات
                    </div>


                  </td>
                  <td>{{ setclass(row.customer_id).state}} </td>
                  <td>{{row.total}} DH</td>
                  <td>{{row.id}}</td>
              </tr>
          </ng-template>

      </p-table>
    </div>
    </div>

    </div>
    <div class="circles">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div>
          <img src="/assets/karossa.svg" alt="">
        </div>

    </div>



